.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../../assets/img/space.webp');
    background-size: cover;
    background-position: center;
}
.subcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rymlogo{
    width: 500px;
    margin-bottom: 15px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    width: 400px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 25px greenyellow;
    animation: glow 2s linear infinite;
}

.logo{
    display: flex;
    overflow: hidden;
    border-radius: 24px 24px 0px 0px;
    border-bottom: 2px solid rgba(172, 255, 47, 0.4);
    margin-bottom: 25px;
    max-height: 320px;
    padding-bottom: 80px;
}
.logoImg{
    height: 400px;
    animation: imageSlide 20s ease-in-out infinite;
}

.block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: greenyellow;
    font-size: 1rem;
    padding: 5px 35px;
}

.label{
    font-family: 'rym';
    letter-spacing: .4rem;
    padding-right: 10px;
    min-width: 150px;
    text-shadow: 0px 0px 10px blueviolet;
}
.input{
    background-color: greenyellow;
    box-shadow: 0px 0px 10px blueviolet;
    border: none;
    border-radius: 5px;
    height: 25px;
    max-width: 200px;
}

.submitButton{
    background-color: yellowgreen;
    border-radius: 0px 0px 10px 10px;
    border: none;
    height: 50px;
    margin: 0px;
    margin-top: 10px;
    font-family: 'rym';
    font-size: 1.25rem;
    letter-spacing: .5rem;
    color: rgb(67, 18, 114);
    
}
.submitButton:hover{
    background-color: greenyellow;
    cursor: pointer;
}

.freepassbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;
    border-radius: 10px;
    border: none;
    width: 400px;
    height: 50px;
    margin: 0px;
    margin-top: 10px;
    font-family: 'rym';
    font-size: 1.25rem;
    letter-spacing: .5rem;
    color: rgb(67, 18, 114);
    animation: glow 2s linear infinite;
}
.freepassbutton:hover{
    background-color: greenyellow;
    cursor: pointer;
}

.error{
    color: blueviolet;
    font-size: .6rem;
    text-align: right;
    line-height: 0px;
    letter-spacing: 0.4rem;
    font-weight: 600;
    font-style: italic;
    padding: 8px;
    padding-right: 25px;
}

.credits{
    color: greenyellow;
    font-family: 'rym';
}

@keyframes imageSlide {
    0%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(-40%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes glow {
    0%{
        box-shadow: 0px 0px 150px rgba(172, 255, 47, 0.5);
    }
    50%{
        box-shadow: 0px 0px 200px greenyellow;
    }
    100%{
        box-shadow: 0px 0px 150px rgba(172, 255, 47, 0.5);
    }
}

@media screen and (max-width: 920px){
    .rymlogo{
        width: 350px;
    }
    .form{
        width: 300px;
    }
    .logo{
        max-height: 150px;
    }
    .logoImg{
        position: relative;
        bottom: 140px;
    }
    .block{
        flex-direction: column;
    }
    .error{
        text-align: center;
        padding: 10px 25px;
        line-height: 10px;
    }
    .freepassbutton{
        width: 300px;
    }
}