.container{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: bg .5s;
}
@keyframes bg{
    0%{
        background-color: rgba(0, 0, 0, 0);
    }
    100%{
        background-color: rgba(0, 0, 0, 0.7);
    }
}

/* ----------- Arriba: fondo transparente ----------- Abajo: ventana: message ----------- */

.messageBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    min-width: 500px;
    background-color: rgba(10, 0, 25, 0.9);
    border: 1px solid rgba(172, 255, 47, 0.2);
    border-radius: 10px;
    animation: glow-img 2s linear infinite alternate, popup .5s;
}
@keyframes glow-img {
  0% {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0));
  }
  100% {
    filter: drop-shadow(0 0 10px rgba(172, 255, 47, 0.5));
  }
}
@keyframes popup {
    0%{
        scale: 0%;
    }
    30%{
        scale: 110%;
    }
    100%{
        scale: 100%;
    }
}

.topContainer{
    display: flex;
    justify-content: flex-end;
    background-color: greenyellow;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    box-shadow: 1px 0px 10px greenyellow;
}
.closeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
    border: none;
    border-radius: 0px 10px 0px 0px;
}
.closeButton img{
    scale: 100%;
    transition: scale .2s ease-in-out;
}
.closeButton:hover{
    cursor: pointer;
}
.closeButton:hover img{
    scale: 120%;
}

.imageContainer{
    height: 150px;
    width: 150px;
    overflow: hidden;
    border: 10px solid greenyellow;
    background-color: blueviolet;
    border-radius: 100px;
    margin-top: 50px;
    box-shadow: 1px 0px 10px greenyellow;
}
.rick{
    height: 150px;
    scale: 150%;
    padding-top: 25px;
    padding-right: 25px;
}
.messageText{
    font-family: 'rym';
    font-size: 1rem;
    letter-spacing: .2rem;
    color: greenyellow;
    margin: 25px 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 920px){
    .messageBox{
        min-width: 50px;
        width: 75%;
    }
}