.overlay{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

/* ----------- Arriba: fondo transparente ----------- Abajo: ventana: message ----------- */

.messageBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    min-width: 500px;
    background-color: rgba(2, 6, 23, 0.95);
    box-shadow: 0 0 30px rgba(172, 255, 47, 0.2);
    border-radius: 10px;
}

.topContainer{
    display: flex;
    justify-content: flex-end;
    border-radius: 10px 10px 0px 0px;
    width: 100%;

}
.closeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: yellowgreen;
    margin: 5px;
    border: none;
    border-radius: 0px 10px 0px 0px;
    cursor: pointer;
}
.closeButton:hover{
    color: greenyellow;
}
.closeButton:hover img{
    scale: 120%;
}

.imageContainer{
    height: 100px;
    width: 100px;
    overflow: hidden;
    border: 10px solid yellowgreen;
    background-color: blueviolet;
    border-radius: 100px;
    margin-top: 50px;
}
.rick{
    height: 100px;
    scale: 150%;
    padding-top: 20px;
    padding-right: 25px;
}
.messageText{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'museo';
    font-size: 1rem;
    letter-spacing: .2rem;
    color: greenyellow;
    margin: 25px 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 920px){
    .messageBox{
        min-width: 50px;
        width: 75%;
    }
}