.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(25,25,25);
    border: 1px solid yellowgreen;
    border-radius: 10px;
    padding: 5px;
    margin: .5px;
    width: 200px;
    height: 245px;
    max-height: 245px;
    transition: background-color .3s ease;
}
.container:hover, .container:hover .cardImg{
    background-color: rgba(137, 43, 226, 0.8);
    box-shadow: 0px 0px 15px rgba(172, 255, 47, 0.5);
}

.containerFavorite{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(137, 43, 226, 0.4);
    border: 1px solid yellowgreen;
    border-radius: 10px;
    padding: 5px;
    margin: .5px;
    width: 200px;
    height: 245px;
    max-height: 245px;
    transition: background-color .3s ease;
}
.containerFavorite:hover, .containerFavorite:hover .cardImg  {
    background-color: rgba(137, 43, 226, 0.8);
    box-shadow: 0px 0px 15px rgba(137, 43, 226, 0.5);
}

.topContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(154, 205, 50, 0.2);
    border-radius: 10px;
    padding: 0px 5px;
}
    .cardClose, .cardFav{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: yellowgreen;
        border-radius: 5px;

        border: none;

        min-height: 25px;
        min-width: 25px;
        max-height: 25px;
        max-width: 25px;
    }
    .cardClose img {
        max-width: 25px;
        max-height: 25px;
    }
    .cardFav img{
        max-width: 20px;
        max-height: 20px;
    }
        .cardClose:hover{
            background-color: firebrick;
        }
        .cardFav:hover{
            background-color: blueviolet;
        }
    .cardTitleId{
        font-family: 'rym';
        font-size: 1.5rem;
        color: yellowgreen;
        margin: 5px;
        margin: 0;
    }

.cardData{
    font-family: 'archivo';
    font-weight: 300;
    font-size: 1rem;
    color: yellowgreen;
    line-height: 24px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(154, 205, 50, 0.2);
    margin: 2.5px;
}

.cardDataName{
    font-family: 'rym';
    font-weight: 100;
    font-size: 1rem;
    color: yellowgreen;
    padding-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    margin: auto;
}

.cardImg{
    margin: 10px auto;
    border-radius: 500px;
    width: 150px;
}
.cardImg:hover{
    cursor: pointer;
}


@media screen and (max-width: 920px){
    .container, .containerFavorite{
        flex-direction: row;
        align-items: center;
        min-width: 100vw;
        height: 125px;
    }

    .topContainer{
        order: 3;
        display: grid;
        grid-template-areas:
          "fav close"
          "id id";
        grid-column-gap: 6px;
        grid-row-gap: 4px;
        border: none;
        padding-right: 100px;
    }
    .cardTitleId{
        grid-area: id;
        text-align: center;
        font-size: 1.2rem;
    }
    .cardClose, .cardFav{
        min-height: 25px;
        min-width: 25px;
        max-height: 25px;
        max-width: 25px;
        border-radius: 999px;
    }
    .cardFav{
        grid-area: fav;
    }
    .cardClose{
        grid-area: close;
    }
    .cardDataName{
        order: 2;
        margin-left: 15px;
        min-width: 180px;
        max-width: 180px;
        font-weight: bold;
    }
    .cardImg{
        order: 1;
        width: 100px;
        margin-left: 20px;
    }
}