.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 300px;
    height: 45px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.container input{
    background-color: yellowgreen;
    height: 35px;
    width: 100px;
    font-size: 1.4rem;
    padding-left: 8px;
    border-radius: 5px;
}

.container button{
    background-color: rgb(40, 40, 40);
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    font-family: 'rym';
    color: yellowgreen;
    height: 35px;
    padding: 0 10px;
    margin-left: 2px;
}
input{
    max-width: 75px;
    font-family: 'museo';
    border: none;
    outline: none;
}
input::placeholder{
    color: rgba(128, 128, 128, 0.45);
    font-family: 'archivo';
    font-size: 1.5rem;
}
.input:focus{
    background-color: yellowgreen;
    outline: none;
}
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px yellowgreen inset !important;
    -webkit-text-fill-color: rgb(67, 18, 114) !important;
}

@media screen and (max-width: 1500px){
    .container{
        border: none;
        width: auto;
    }
    .indicador{
        display: none;
    }
}