.container{
    display: flex;
    width: 100%;
    background-color: rgba(46, 35, 58, .25);
    border-radius: 15px;
    margin-top: -15px;
    margin-bottom: 5px;
}
@media screen and (max-width: 920px){
    .container{
        padding-top: 20px;
    }
}

.filterAndOrderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.select{
    background-color: rgb(46, 35, 58);
    color: greenyellow;
    padding: 5px;
    letter-spacing: .3rem;
    width: 150px;
    border-radius: 5px;
    margin: 0px 4px;
    text-align: center;
}
.select option{
    text-align: left;
}

.count{
    display: flex;
    justify-content: center;
    font-family: 'archivo';
    font-size: 1.5rem;
    color: yellowgreen;
    width: 50px;
}