.container{
    display: flex;
    width: 100%;
}
.filterAndOrderContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}

.orderContainer{}

.filterContainer{}

.select{
    background-color: rgb(46, 35, 58);
    color: greenyellow;
    padding: 5px;
    letter-spacing: .3rem;
    width: 150px;
    border-radius: 5px;
    margin: 0px 4px;
    text-align: center;
}
.select option{
    text-align: left;
}

.count{
    display: flex;
    justify-content: center;
    font-family: 'archivo';
    font-size: 1.5rem;
    color: yellowgreen;
    width: 50px;
}

@media screen and (max-width: 920px){
    .container{
        padding-top: 30px;
    }
}