.container{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: greenyellow;
    padding-bottom: 14px;
    z-index: 1;
}

.links{
    display: flex;
    gap: 5px;
    padding-top: 5px;
}
.buttons{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px;
}

.count{
    display: flex;
    justify-content: center;
    font-family: 'museo';
    font-size: 1.5rem;
    letter-spacing: .4rem;
    color: black;
    margin: 0px 10px;
    width: 60px;
}

.countLimit{
    display: flex;
    justify-content: center;
    font-family: 'museo';
    font-size: 1.5rem;
    letter-spacing: .4rem;
    color: yellowgreen;
    margin: 0px 10px;
    width: 60px;
}

.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchBarAndCount{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton{
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    border: none;
    font-family: 'rym';
    font-size: .8rem;
    color: greenyellow;
    height: 40px;
    width: 75px;
    user-select: none;
    transition: background-color .5s, font-size .5s;
}
.boton:hover{
    background-color: yellowgreen;
    color: black;
    cursor: pointer;
}

.botonLogOut{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    height: 35px;
    width: 35px;
    transition: color .3s;
    font-size: 1.4rem;
    font-family: 'archivo';
    color: yellowgreen;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.botonClear:hover, .botonLogOut:hover{
    color: black;
}

.logout{
    display: none;
    position: absolute;
    top: 38px;
    right: -48px;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 5px 0px 0px 5px;
    color: rgb(40, 40, 40);
    padding: 5px;
    transform: translateX(-65%) translateY(-125%);
    z-index: 0;
    min-width: 100px;
    font-family: 'museo';
    font-weight: bolder;
}
.botonLogOut:hover + .logout{
    display: block;
}

@media screen and (min-width: 920px){
    .container{
        display: none;
    }
}