.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../../assets/img/space.webp');
    background-size: cover;
    background-position: center;
}
.subcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rymlogo{
    width: 350px;
    margin: auto;
}
@media screen and (max-width: 920px){
    .rymlogo{
        width: 250px;
    }
}

.rymlogosub{
    font-family: 'museo';
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: 0px 0px 5px yellowgreen;
    color: #42b4ca;
    margin-top: 5px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(172, 255, 47, 0.2);
}
@media screen and (max-width: 920px){
    .rymlogosub{
        font-size: 1rem;
        font-weight: 300;
    }
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    width: 400px;
    border-radius: 10px;
    background-color: rgba(2, 6, 23, 0.5);
    /* box-shadow: 0px 0px 25px greenyellow; */
    /* animation: glow 4s ease-in-out infinite; */
}

.logo{
    display: flex;
    overflow: hidden;
    border-radius: 24px 24px 0px 0px;
    border-bottom: 2px solid rgba(172, 255, 47, 0.4);
    margin-bottom: 25px;
    max-height: 320px;
    padding-bottom: 80px;
}
.logoImg{
    height: 400px;
    /* animation: imageSlide 20s ease-in-out infinite; */
}

.block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: greenyellow;
    font-size: 1rem;
    padding: 5px 35px;
}

.label{
    font-family: 'museo';
    letter-spacing: .4rem;
    padding-right: 10px;
    min-width: 150px;
    text-shadow: 0px 0px 10px blueviolet;
    user-select: none;
    text-transform: uppercase;
}
@media screen and (max-width: 920px){
    .label{
        margin-left: -24px;
        margin-bottom: 5px;
    }
}
.input{
    background-color: yellowgreen;
    /* box-shadow: 0px 0px 10px blueviolet; */
    border: none;
    border-radius: 2.5px;
    height: 25px;
    max-width: 200px;
    font-family: 'museo';
    padding-left: 10px;
}
.input:focus{
    background-color: yellowgreen;
    outline: none;
}
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px yellowgreen inset !important;
    -webkit-text-fill-color: rgb(67, 18, 114) !important;
}

.submitButton{
    background-color: yellowgreen;
    border-radius: 0px 0px 10px 10px;
    border: none;
    height: 50px;
    margin: 0px;
    margin-top: 10px;
    font-family: 'museo';
    font-size: 1.25rem;
    letter-spacing: .5rem;
    color: rgb(67, 18, 114);
    transition: background-color .5s ease;
}
.submitButton:hover{
    background-color: greenyellow;
    cursor: pointer;
}

.freepassbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;
    border-radius: 10px;
    border: none;
    width: 400px;
    height: 50px;
    margin: 0px;
    margin-top: 10px;
    font-family: 'museo';
    font-size: 1.25rem;
    letter-spacing: .5rem;
    color: rgb(67, 18, 114);
    transition: background-color .5s ease;
    /* animation: glow 4s ease-in-out infinite; */
}
.freepassbutton:hover{
    background-color: greenyellow;
    cursor: pointer;
}

.error{
    color: blueviolet;
    font-size: .6rem;
    text-align: right;
    line-height: 0px;
    letter-spacing: 0.4rem;
    font-weight: 600;
    font-style: italic;
    padding: 8px;
    padding-right: 25px;
}

.information{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgba(2, 6, 23, 0.5);
    color: yellowgreen;
    border: 1px dashed yellowgreen;
    border-radius: 5px;
    padding: 10px;
    margin: 0 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
.information:hover{
    background-color: rgba(2, 6, 23, 1);
}

.credits{
    color: greenyellow;
    font-family: 'museo';
    opacity: 0.5;
    background-color: rgba(2, 6, 23, 0.5);
    padding: 25px 0;
    margin: 0;
}
@media screen and (max-width: 920px){
    .credits{
        font-size: .7rem;
        padding: 25px;
    }
}

/* Modal */
.modal_div_p{
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.modal_p{
    font-style: italic;
}
.modal_credentials{
    border: 1px dashed rgba(172, 255, 47, 0.3);
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

@keyframes imageSlide {
    0%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(-40%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes glow {
    0%{
        box-shadow: 0px 0px 10px rgba(172, 255, 47, 0.5);
    }
    50%{
        box-shadow: 0px 0px 100px greenyellow;
    }
    100%{
        box-shadow: 0px 0px 10px rgba(172, 255, 47, 0.5);
    }
}

@media screen and (max-width: 920px){
    .form{
        width: 300px;
    }
    .logo{
        max-height: 150px;
    }
    .logoImg{
        position: relative;
        bottom: 140px;
    }
    .block{
        flex-direction: column;
    }
    .error{
        text-align: center;
        padding: 10px 25px;
        line-height: 10px;
    }
    .freepassbutton{
        width: 300px;
    }
}