.App {
   text-align: center;
   min-height: 100vh;
   background-image: url('https://res.cloudinary.com/dhaiensb8/image/upload/v1712428815/rick_and_morty/space_bz3grx.webp');
   background-size: cover;
   background-position: center;
}
