.container{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: greenyellow;
    z-index: 1;
}

.logo{
    position: absolute;
    height: 80px;
    margin-left: 5px;
}

.count{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: 'museo';
    font-size: 2rem;
    letter-spacing: .4rem;
    color: black;
    margin: 0px 10px;
    width: 60px;
}

.countLimit{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: 'museo';
    font-size: 2rem;
    letter-spacing: .4rem;
    color: yellowgreen;
    margin: 0px 10px;
    width: 60px;
}

.middle{
    display: flex;
    align-items: center;
    gap: 2px;
}
.right{
    display: flex;
    margin-right: 5px;
}

.boton{
    background-color: rgb(40, 40, 40);
    border-radius: 5px;
    border: none;
    font-family: 'rym';
    font-size: 1rem;
    color: greenyellow;
    height: 35px;
    min-width: 100px;
    max-width: 100px;
    padding: 0 10px;
    user-select: none;
    transition: background-color .3s, font-size .5s;
    cursor: pointer;
}
.boton:hover{
    background-color: rgb(0, 0, 0);
}

.botonLogOut{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    height: 35px;
    width: 35px;
    transition: color .3s;
    font-size: 1.4rem;
    font-family: 'archivo';
    color: yellowgreen;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.botonClear:hover, .botonLogOut:hover{
    color: black;
}

@media screen and (max-width: 1200px){
    .logo{
        display: none;
    }
    .spacer{
        display: none;
    }
    .count{
        display: none;
    }
    .boton{
        margin: 1px;
    }
    .container{
        justify-content: center;
    }
}

@media screen and (max-width: 920px){
    .container{
        display: none;
    }
}